/* .sticky {
    position: fixed;
    top: 10;
    width: 100%;
   
    background-color: white;
    box-shadow: 1px 5px 10px 0px #888888;
    animation:slide-down 0.7s;
    margin: 0px ;
  } */
  .subheader{
    position: sticky;
    top:0;
    margin: 0px ;
    display: grid;
    grid-template-columns: auto  auto ;
    padding: 0px;
    justify-content: space-around;
    align-items: center;
    z-index: 50;
    background-color: white;
      /* box-shadow: 0px 2px 20px 0px #888888; */
    width: auto;
    height: 80px;
}
.subheaderleft{
    display: flex;
    align-items: center;     
    margin: 0px;
}
/* p:nth-child(1){
    font-size: 25px;
    font-weight: 900;
} */
span.fas.fa-filter{
    color: #fc8019;
}
.line{
    margin-top: -50px 0px 30px 0px;
    border-top: 1px solid rgb(212, 207, 207);
    width: 82%;
}
/* .hr-line{
    margin:  80px 250px -55px 90px;
    opacity: 50%;
} */
/* .sub-header-right{
    
    
} */
.navigaotr{
    cursor: pointer;
    color: #3d4152;
    font-size: 16px;
    padding-left: 40px;
    font-weight: 300;
}
.navigaotr:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #3d4152;
    font-size: 16px;
    text-underline-offset: 20px;
}
.active{
    cursor: pointer;
    color: black;
    font-weight: bold;
    text-decoration: underline;
    font-size: 16px;
    text-underline-offset: 20px;
}


@media screen and (max-width:600px) {
    
    .subheader{
        display: contents;
        position: sticky;
        top:0;
        z-index: 500;
    }
    .subheaderleft{
        justify-content: center;
    }
    /* .sub-header-right{
        margin: 0px 10px 0px 10px;
    } */
    .navigaotr{
        margin: 15px;
        display: contents;
        padding: 0px;
        display: inline-block;
    }
    .line{
        border-top: 1px solid rgb(199, 189, 189);
        width: 90%;
    }

}

@media screen and (min-width:602px) and (max-width:1284px) {
    .line{
        border-top: 1px solid rgb(199, 189, 189);
        width: 95%;
    }
    .subheader{
        width: 100%;
    }
}