.slides{
    display: flex;
    flex-direction:row;
    gap: 45px;
    flex-wrap: nowrap;
    /* justify-content: start; */
    align-items: center;
    padding: 20px;
    max-width: 1300px;
    position: relative;
    left: 78px;
    overflow: hidden;
    height: 300px;
    top:45px;
    margin: 0px;
    
}
.slide-container{
    margin: 10px;
}
.image-title{
    font-size: 20px;
    font-weight: bold;
    color: white;
    position: relative;
    bottom:70px;
    
}
.flex-container{
    background-color: #282c3f;
    margin-top: 80px;
}
.title{
    color: white;
    font-size: 20px;
}

.top-image{
    width: 280px;
    height: 250px;
    object-fit: cover;
    left: 0;
    justify-content: center;    
    transition: transform .5s cubic-bezier(.215,.61,.355,1);
    
}
.top-image:hover{
    transform: scale(1.1);
    transition: transform .5s cubic-bezier(.215,.61,.355,1);
    object-fit: cover;
}
.left{
    cursor: pointer;
    position: relative;
    bottom:170px;
    left:5%;
    width: 47px;
    padding: 16px;
    /* margin-top: -22px; */
    color: black;
    background-color: white;
    border-radius: 100%;
    box-shadow: 0 1px 3px 0 rgb(41 48 63 / 25%);
}
.right {
    cursor: pointer;
    position: relative;
    bottom:170px;
    left: 87%;
    width: 47px;
    padding: 16px;
    /* margin-top: -22px; */
    color: black;
    background-color: white;
    border-radius: 100%;
    text-align: center;
    box-shadow: 0 1px 3px 0 rgb(41 48 63 / 25%);
}
button{
    border: none;
}

@media  screen and (max-width:600px) {

    .slides{
        display: flex;
        flex-direction:row;
        gap: 50px;
        flex-wrap: nowrap;
        /* justify-content: start; */
        align-items: center;
        padding: 10px;
        max-width:350px;
        position: relative;
        left: 0px;
        overflow: hidden;
        height: 190px;
        /* top:100px; */
        margin: 0px;
        top: 50px;
    }  
    .left{
        left:1%;
        bottom:100px;
    }
    .right{
        left:70%;
        bottom:100px;
    }
    .image-title{
        font-size: 16px;
        font-weight:bold;
        color: white;
        position: relative;
        bottom:70px;        
    }
    .top-image{
        width: 280px;
        height: 150px;
        object-fit: cover;
        left: 0;
        justify-content: center;    
        transition: transform .5s cubic-bezier(.215,.61,.355,1);
        
    }
}

@media screen and (min-width:602px) and (max-width:1280px) {
    .slides{
        display: flex;
        flex-direction:row;
        gap: 30px;
        flex-wrap: nowrap;
        /* justify-content: start; */
        /* align-items: center; */
        padding: 20px;
        max-width:900px;
        position: relative;
        left: 5px;
        overflow: hidden;
        height: 300px;
        /* top:100px; */
        margin: 0px;
    }  
    .left{
        top: 35%;
        left:1%;
        width: 47px;
        padding: 16px;
        margin-top: -22px;
    }
    .right{
        top: 35%;
        left: 88%;
        width: 47px;
        padding: 16px;
        margin-top: -22px;
    }
    .top-image{
        width: 280px;
        height: 250px;
        object-fit: cover;
        left: 0;
        justify-content: center;    
        transition: transform .5s cubic-bezier(.215,.61,.355,1);
        
    }
}